.main-contener-1 {

    width: 100%;
    height:  calc(100vh - 70px);
    display: flex;
    justify-content: center;


    .content-1 {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 1320px;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;

        p {
            font-size: 41px;
            color: #FF6347;
            text-transform: uppercase;
        }

        .content-img2 {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 2rem;

            .img-1 {
                width: 550px;
                height: 244px;

                background-image: url(/img/image\ 18.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                grid-column: span 4;
            }

            .img-2 {
                width: 274px;
                height: 244px;

                background-image: url(/img/image\ 14.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                grid-column: span 2;
            }

            .img-3 {
                width: 880px;
                height: 343px;

                background-image: url(/img/Promo.png);
                grid-column: span 6;
            }

        }

        .btn-peca-1 {
            width: 441px;
            height: 78px;
            background-color: #FF6347;
            border-radius: 12px;
            transition: .2s ease-in-out;

            &:hover {
                background-color: #fd9886;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 41px;
            }
        }

    }
}